@font-face {
  font-family: 'ITC Kabel Std Demi';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ITCKabelStdDemi.woff') format('woff');
}

@font-face {
  font-family: 'ITC Kabel Std Book';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ITCKabelStdBook.woff') format('woff');
  }

.container {
  min-height: 100vh;
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3eacb;
}

.title {
  color: #100e9dff;;
  font-family: 'ITC Kabel Std Demi';
  font-size: 40px;
}

.body {
  color: #ed078a;
  font-family: 'ITC Kabel Std Book';
  font-size: 24px;
}

.body a {
  color: #c92764ff;
  text-decoration: underline;
}

.body a:hover {
  background: #98c6c3;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.links a:first-child {
  position: relative;
  bottom: 2px;
  margin-right: 20px;
}

.icon {
  fill: #100e9dff;
}

.icon:hover {
  fill: #5a30c4ff;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 2vh 4vw;
  }
  .links {
    justify-content: flex-start;
  }
}